<h1 class="text-primary">{{ "common.department.update.title" | translate }}</h1>
<div class="back-button">
    <button nbButton status="primary" (click)="onClickBack()">
        Go Back
    </button>
</div>

<div class="row">
	<div class="col-lg-12">
		<nb-card>
            <nb-card-body>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputName" class="label">{{ "common.department.update.name" | translate }}</label>
                            <input
                                type="text"
                                nbInput
                                fullWidth
                                id="inputName"
                                [(ngModel)]="new_department.name"
                                placeholder='{{ "common.department.update.name" | translate }}'
                                required=true
                                (ngModelChange)="onChangeValue()"
                            >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputAddress" class="label">{{ "common.department.update.address" | translate }}</label>
                            <input
                                type="text"
                                nbInput
                                fullWidth
                                id="inputAddress"
                                [(ngModel)]="new_department.address"
                                placeholder='{{ "common.department.update.address" | translate }}'
                                (ngModelChange)="onChangeValue()"
                            >
                        </div>
                    </div>
                </div>
                <div class="row">      
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputPhone" class="label">{{ "common.department.update.phone" | translate }}</label>
                            <input
                                type="text"
                                nbInput
                                fullWidth
                                id="inputPhone"
                                [(ngModel)]="new_department.phone"
                                placeholder='{{ "common.department.update.phone" | translate }}'
                                (ngModelChange)="onChangeValue()"
                            >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputEmail" class="label">{{ "common.department.update.email" | translate }}</label>
                            <input
                                nbInput
                                fullWidth
                                id="inputEmail"
                                #email="ngModel"
                                name="email"
                                pattern=".+@.+\..+"
                                [(ngModel)]="new_department.email"
                                placeholder='{{ "common.department.update.email" | translate }}'
                                (ngModelChange)="onChangeValue()"
                            >
                            <ng-container *ngIf="email.invalid && email.touched">
                                <p class="caption status-danger" *ngIf="email.errors?.pattern">
                                    {{ "message.form_error.email" | translate }}
                                </p>
                            </ng-container>
                        </div>
                    </div>	
                </div>
            </nb-card-body>

            <nb-card-footer>
                <button [disabled]="!is_show_unchanged" type="button" nbButton status="primary" (click)="onClickUnchange()">
                    {{ "common.department.update.unchange" | translate }}
                </button>
                <button [disabled]="!is_show_clear" type="reset" nbButton status="primary" (click)="onClickClear()">
                    {{ "common.department.update.clear" | translate }}
                </button>
                <button  [disabled]="(!is_show_save || email.invalid)" type="submit" nbButton status="primary" (click)="onClickSave()"
                >
                {{ "common.department.update.save" | translate }}
                </button>
            </nb-card-footer>
		</nb-card>
	</div>
</div>
<nb-alert *ngIf="is_success" status="success" closable (close)="onClose()">{{ "message.update.success" | translate}}</nb-alert>
<nb-alert *ngIf="is_fail" status="danger" closable (close)="onClose()">{{ "message.update.failure" | translate}}</nb-alert>