:host ::ng-deep ng2-st-tbody-custom {
    a.ng2-smart-action.ng2-smart-action-custom-custom{
        display: contents;
    }
  }
  :host ::ng-deep .nb-edit::before{
    margin-left: 17px;
  }

  :host ::ng-deep ng2-smart-table .ng2-smart-actions > ng2-st-tbody-edit-delete {
    position: fixed;
  }

  :host ::ng-deep ng2-smart-table .ng2-smart-actions{
    width: 110px;
}

:host ::ng-deep ng2-smart-table .page-link {
  position: relative;
  display: block;
  margin-left: -1px;
}

:host ::ng-deep ng2-smart-table nav.ng2-smart-pagination-nav {
  float: left;
}
// :host ::ng-deep ng2-smart-table nb-select.appearance-outline.status-basic .select-button:focus {
//   background: #fff;
//   color: #000000;
// }
// :host ::ng-deep ng2-smart-table nb-select.appearance-outline.status-basic .select-button:hover {
//   background: #fff;
//   color: #000000;
//   cursor: pointer;
// }
// :host ::ng-deep nb-select.appearance-outline.status-basic .select-button {
//   background-color: #fff;
//   color: #000000;
// }
// :host ::ng-deep nb-select.appearance-outline.status-basic .select-button:hover {
//   background-color: #fff;
//   color: #000000;
// }
// :host ::ng-deep nb-select.appearance-outline.status-basic .select-button:focus {
//   background-color: #fff;
//   color: #000000;
// }
// :host ::ng-deep  nb-option {
//   background-color: #fff;
//   color: #000000;
// }
// :host ::ng-deep  .option-list:hover {
//   background-color: #3366ff;
//   color: #ffffff;
// }
// :host ::ng-deep  .option-list {
//   background-color: #3366ff;
//   color: #ffffff;
// }
  .inventory-card {
    border-radius: 20px;
    nb-card-body {
      display: block;

      p {
        font-weight: 600;
        font-size: 17px;
      }

      .container {
        display: flex;
        margin-top: 15px;

        .row {
          width: 100%;
          // input {
          //   background-color: #fff;
          //   color: #000000;
          // }
        }

      }
    }
  }
  .order-result{
    border-radius: 20px;

  }
  .search-button{
    width: 150px;
  }


