<nb-layout>
  <nb-layout-column>
<br>
<h1 style="text-align: center;color: #3a86ff ">{{ "biz.reward-order.read.title" | translate }}</h1>
<br>
    <button class="search-button" nbButton size="small" status="primary" shape="round" style="float: right;">{{ "biz.reward-order.read.new" | translate }}</button>
<br>
<br>
<br>
<nb-card class="inventory-card" >
    <nb-card-header (click)="toggleCard()" style="cursor: pointer;">
      <h5 style="color: #3a86ff; ">{{ "biz.reward-order.read.search" | translate }}
          <nb-icon style="float: right; font-size: 1.2em;" *ngIf="!isCard" icon="arrow-ios-downward-outline"></nb-icon>
          <nb-icon style="float: right; font-size: 1.2em;" *ngIf="isCard" icon="arrow-ios-upward-outline"></nb-icon>
      </h5>
    </nb-card-header>
    <nb-card-body *ngIf="isCard" [formGroup]="searchOrderForm">

      <div class="container">

        <div class="row">
          <div class="col-lg-11" >
            <p>{{ "biz.reward-order.read.user" | translate }}</p>
            <!-- <input nbInput type="text" placeholder="Search by user id" fullWidth formControlName="userid" /> -->
            <input
            id="search-by-name"
            type="text"
            formControlName="user"
            fullWidth
            class="search-input"
            nbInput
            placeholder='{{ "biz.reward-order.read.user" | translate }}'
          />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-11" >
            <p>{{ "biz.reward-order.read.reward" | translate }}</p>
            <!-- <input nbInput type="text" placeholder="Search by reward name" fullWidth formControlName="rewardid" /> -->
            <input
            id="search-by-name"
            type="text"
            formControlName="reward"
            fullWidth
            class="search-input"
            nbInput
            placeholder='{{ "biz.reward-order.read.reward" | translate }}'
          />
          </div>
        </div>

      </div>

      <div class="container">

        <div class="row">
          <div class="col-lg-11" >
            <p>{{ "biz.reward-order.read.status.status" | translate }}</p>
            <nb-select placeholder='{{ "biz.reward-order.read.status.status" | translate }}' fullWidth formControlName="status" >
              <nb-option value="">{{ "biz.reward-order.read.status.none" | translate }}</nb-option>
              <nb-option value="01">{{ "biz.reward-order.read.status.new" | translate }}</nb-option>
              <nb-option value="02">{{ "biz.reward-order.read.status.approved" | translate }}</nb-option>
              <nb-option value="03">{{ "biz.reward-order.read.status.claimed" | translate }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-11" >
            <p>{{ "biz.reward-order.read.date" | translate }}</p>
            <input nbInput fullWidth placeholder='{{ "biz.reward-order.read.date" | translate }}' [nbDatepicker]="formpicker" formControlName="create_at" >
            <nb-rangepicker #formpicker ></nb-rangepicker>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div style="float: right;">
      <button class="btn-cancel" class="search-button" size="small" nbButton shape="round" status="primary" (click)="resetSearchForm()">
        {{ "biz.reward-order.read.reset" | translate }}
      </button>
      <button style="margin-left: 10px" class="search-button" size="small" nbButton shape="round" status="primary" (click)="searchRewardOrder()">
        {{ "biz.reward-order.read.search" | translate }}
      </button>
    </div>
    </nb-card-body>
  </nb-card>




<nb-card class="order-result">
    <nb-card-header (click)="toogleBelowCard()" style="cursor: pointer;">
        <h5 style="color: #3a86ff">{{ "biz.reward-order.read.reward-order-list.result" | translate }}

              <nb-icon style="float: right; font-size: 1.2em;" *ngIf="!isBelowCard" icon="arrow-ios-downward-outline"></nb-icon>
              <nb-icon style="float: right; font-size: 1.2em;" *ngIf="isBelowCard" icon="arrow-ios-upward-outline"></nb-icon>

          </h5>
    </nb-card-header>
    <nb-card-body  *ngIf="isBelowCard">
        <ng2-smart-table [settings]="settings" [source]="reward_order">

        </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</nb-layout-column>
</nb-layout>
