<h1 class="text-primary">{{ "common.employee.read.title" | translate }}</h1>
<div class="add-button">
    <button nbButton status="primary" (click)="onClickNew()">
        {{ "common.employee.read.new" | translate }}
    </button>
</div>

<div class="row">
	<div class="col-lg-12">
		<nb-accordion>
			<nb-accordion-item>
				<nb-accordion-item-header>
					{{ "common.search.search" | translate }}
				</nb-accordion-item-header>
				<nb-accordion-item-body>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputName" class="label">{{ "common.search.name" | translate }}</label>
								<input type="text" nbInput fullWidth id="inputName" placeholder='{{ "common.search.name" | translate }}'>
						  	</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputAddress" class="label">{{ "common.search.address" | translate }}</label>
								<input type="text" nbInput fullWidth id="inputAddress" placeholder='{{ "common.search.address" | translate }}'>
							</div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputDateOfBirth" class="label">{{ "common.search.date_of_birth" | translate }}</label>
                                <div style="display: flex;">
                                    <nb-form-field>
                                        <input fullWidth
                                            #dateOfBirth
                                            nbInput
                                            placeholder="yyyy/MM/dd"
                                            [nbDatepicker]="DOB"
                                        >
                                        <button nbSuffix nbButton ghost (click)="dateOfBirth.click()">
                                            <nb-icon
                                                nbSuffix
                                                icon="calendar-outline"
                                                pack="eva"
                                                style="cursor: pointer"
                                            ></nb-icon>
                                        </button>									
                                        <nb-datepicker #DOB></nb-datepicker>
                                    </nb-form-field>									
                                </div>							
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
								<label for="inputGender" class="label">{{ "common.search.gender.gender" | translate }}</label>
								<nb-radio-group class="row radio-row" [(value)]="genderValue">
                                    <nb-radio [value]='"1"'>
                                        {{ "common.search.gender.male" | translate }}
                                    </nb-radio>
                                    <nb-radio [value]='"2"'>
                                        {{ "common.search.gender.female" | translate }}
                                    </nb-radio>
                                    <nb-radio [value]='"0"'>
                                        {{ "common.search.gender.other" | translate }}
                                    </nb-radio>
                                </nb-radio-group>
							</div>
                        </div>                       
                    </div>
                      
					<div class="row">      
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputPhone" class="label">{{ "common.search.phone" | translate }}</label>
								<input type="text" nbInput fullWidth id="inputPhone" placeholder='{{ "common.search.phone" | translate }}'>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputEmail" class="label">{{ "common.search.email" | translate }}</label>
                                <br/>
								<nb-select 
									multiple
									fullWidth
									placeholder='{{ "common.search.email" | translate }}'
								> 
                                    <nb-option 
										*ngFor="let department of departments"
										[value]="department.value"
									>
										{{ department.name }}
									</nb-option>
                                </nb-select>
							</div>
						</div>
                    </div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputTotalPoint" class="label">{{ "common.search.total_point" | translate }}</label>
								<input 
									type="number" 
									nbInput 
									fullWidth 
									id="inputTotalPoint" 
									placeholder='{{ "common.search.total_point" | translate }}'
									min="0"
								>
							</div>
						</div>
					</div>
                    <div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputCreateBy" class="label">{{ "common.search.create_by" | translate }}</label>
								<input type="text" nbInput fullWidth id="inputCreateBy" placeholder='{{ "common.search.create_by" | translate }}'>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputChangeBy" class="label">{{ "common.search.change_by" | translate }}</label>
								<input type="text" nbInput fullWidth id="inputChangeBy" placeholder='{{ "common.search.change_by" | translate }}'>
							</div>
						</div>
                    </div>
                    <div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputCreateAt" class="label">{{ "common.search.create_at" | translate }}</label>
								<div style="display: flex;">
									<nb-form-field>
										<input fullWidth
											#create1
											nbInput
											placeholder="yyyy/MM/dd"
											[nbDatepicker]="createAt1"
										>
										<button nbSuffix nbButton ghost (click)="create1.click()">
											<nb-icon
												nbSuffix
												icon="calendar-outline"
												pack="eva"
												style="cursor: pointer"
											></nb-icon>
										</button>									
										<nb-datepicker #createAt1></nb-datepicker>
									</nb-form-field>									
									<span class="center_span">~</span>
									<nb-form-field>
										<input fullWidth
											#create2
											nbInput
											placeholder="yyyy/MM/dd"
											[nbDatepicker]="createAt2"
										>
										<button nbSuffix nbButton ghost (click)="create2.click()">
											<nb-icon
												nbSuffix
												icon="calendar-outline"
												pack="eva"
												style="cursor: pointer"
											></nb-icon>
										</button>									
										<nb-datepicker #createAt2></nb-datepicker>
									</nb-form-field>
								</div>							
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputChangeAt" class="label">{{ "common.search.change_at" | translate }}</label>
								<div style="display: flex;">
									<nb-form-field>
										<input
											#change1
											nbInput
											placeholder="yyyy/MM/dd"
											[nbDatepicker]="changeAt1"
										>
										<button nbSuffix nbButton ghost (click)="change1.click()">
											<nb-icon
												nbSuffix
												icon="calendar-outline"
												pack="eva"
												style="cursor: pointer"
											></nb-icon>
										</button>									
										<nb-datepicker #changeAt1></nb-datepicker>
									</nb-form-field>
									<span class="center_span">~</span>
									<nb-form-field>
										<input
											#change2
											nbInput
											placeholder="yyyy/MM/dd"
											[nbDatepicker]="changeAt2"
										>
										<button nbSuffix nbButton ghost (click)="change2.click()">
											<nb-icon
												nbSuffix
												icon="calendar-outline"
												pack="eva"
												style="cursor: pointer"
											></nb-icon>
										</button>									
										<nb-datepicker #changeAt2></nb-datepicker>
									</nb-form-field>	
								</div>								
							</div>
						</div>
					</div>
					<div class="button-group">
						<button type="reset" nbButton status="primary" size="medium">
							{{ "common.search.clear" | translate }}
						</button>
						<button type="submit" nbButton status="primary">
							{{ "common.search.submit" | translate }}
						</button>
					</div>					
				</nb-accordion-item-body>
			</nb-accordion-item>
		</nb-accordion>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<nb-accordion>
			<nb-accordion-item expanded="true">
				<nb-accordion-item-header>
					{{ "common.employee.read.employee_list" | translate }}
				</nb-accordion-item-header>
			
				<nb-accordion-item-body>
					<ng2-smart-table
						[settings]="settings"
						[source]="sources"
						(custom)="onCustomEvent($event)"
					>
					</ng2-smart-table>
				</nb-accordion-item-body>
			</nb-accordion-item>			
		</nb-accordion>
	</div>
</div>